//- index.jade
//- extends ./layout.jade

//- block title
//-   title Article Title

//- block content
//-   h1 My Article


//- header 
//- 	div con id llamado header
//- 	p Lorem ipsum dolor.
//- aside
//- 	h1 Hola que hace?
//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt culpa quis facere velit ratione ad, illo voluptas neque ut aspernatur vero, fuga, doloribus! Eos officiis ipsa sed nihil, maiores blanditiis!
//- .miClase esto es un div con una miClase

//- section esto una seccion
//- 	p Lorem ipsum dolor.


//- ul
//- 	li: a(href="#") Item 1
//- 	li: a(href="#") Item 1
//- 	li: a(href="#") Item 1
//- 	li: a(href="#") Item 1
//- 	li: a(href="#") Item 1

//- section
//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis modi blanditiis placeat consequatur, ex tenetur omnis nulla id. Impedit, fugiat.

doctype html
html(lang="en")
	head
		title Introducción a Sass
		meta(charset="utf-8")
		link(rel="stylesheet",href="css/main.css")
	body
		.darken
		.lighten
		.saturate
		.desaturate
		.rgba
		.invert
		.complement























